@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 0.94rem;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  line-height: 1.5;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}

main {
  padding: 4vh 0;
}

img[alt="Linktree photo"] {
  --scale: 164px;
  width: var(--scale);
  height: var(--scale);
  border-radius: 50%;
}

h3 {
  margin: 16px 0 0;
}

.linktree-nav {
  margin: 40px auto 0;
  width: 90%;
  max-width: 700px;
}

.linktree-nav ul {
  display: grid;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

.linktree-nav a {
  text-decoration: none;
  color: inherit;
}

.linktree-box {
  transition: all 300ms;
  display: flex;
  align-items: center;
  text-align: start;
  padding: 16px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  background: #fff;
}

.linktree-box:hover {
  transform: scale(1.05);
}

.linktree-box .icon-box {
  --scale: 56px;
  width: var(--scale);
  height: var(--scale);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 16px;
}

@media (min-width: 600px) {
  .linktree-nav ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .linktree-box {
    padding: 20px;
  }
}
